@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

.parent{
  background-color: #252F5E;
  height: calc(100% - 60px);
  padding: 30px;
  width:280px;
  color:white;
  font-family: Roboto;
  position: fixed;

}

.headerParent{
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.headerParent div:nth-child(1){
  flex: 0 0 auto;
}

.headerParent div:nth-child(2){
  width: fit-content;
  padding: 0px;
  margin: 0px;
  flex: 0 1 auto;
  word-break: break-word;
  background-color: transparent;
}
.headerParent div:nth-child(2) *:nth-child(n){
  max-width: 100vw;
}


.headerParent .logout{
  flex: 0 0 auto;
  background-image: url("/static/images/logout.png");
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.parent .logo{
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 100%;
}

.menuParent{
  margin-top:30px;
}
.menuItem{
  padding: 15px 50px;
  margin-left: -30px;
  font-weight: 800;
  cursor: pointer;
  margin-right: -30px;
  background: rgba(92, 133, 194, 0.23);
}
.menuItemButton{
  font-weight: 800;
  padding: 15px 70px;
  cursor: pointer;
  margin-left: -30px;
  margin-right: -30px;
  color: rgba(255, 255, 255, 0.5);
}

.menuItemButton[active=true]{
  font-weight: 800;
  color:white;
  background: rgba(0, 0, 0, 0.18);
}

@media(max-width: 1100px) {
  .parent{
    width: calc(100vw - 60px);
  }
}
