.parent {
  display: grid;
  row-gap: 15px;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
}

.gridParent{
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(4,1fr);

}
.addButton {
  font-size: 16px;
  margin-left: 10px;
  color: #6678CC;
  font-weight: 800;
  font-family: Roboto;
}
.gridParent .firstContent{
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.avatar{
  width: 56px;
  height: 56px;
  background-color: gray;
  border-radius: 100%;
  flex: 0 0 auto;
}

  .desc{
    flex: 1 1 auto;
    color: rgba(128, 128, 128, 0.85);
    max-width: calc(50vw - 350px);

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: auto;
    hyphens: manual;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
