.popoutParent {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.popoutContent {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  font-family: "Roboto";
  -webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  min-width: 500px;
  display: grid;
  row-gap: 15px;
  position: relative;
}

.popoutParent h1 {
  font-weight: 800;
  font-size: 20px;
  margin: 0px;
}

@media(max-width: 600px) {
  .popoutContent{
    min-width: 200px;
  }
}

.closeButton{
  background-image: url("//static/images/icons8-close.svg");
  width: 16px;
  height: 16px;
  background-size: cover;
  position: absolute;
  right: 20px;
  top:20px;
  cursor: pointer;
}

